html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: hsl(30, 54%, 90%);
    color: rgb(32, 32, 32);
}

.container {
    background-color: #FFF;
    padding: 20px;
    border-radius: 15px;
    width: 30%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

#omletteImg {
    width: 100%;
    border-radius: 15px;
}

.title {
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 500;
}

.recipe {
    margin-bottom: 20px;
}

.recipe p {
    width: 100%;
    border: 2px solid red;
    text-wrap: wrap;
}

.details {
    padding: 15px;
    background-color: hsl(330, 100%, 98%);;
}

.details ul {
    margin-top: 10px;
    padding: 0 30px;
}
